/* Contenedor de Información */
.container-tasks {
    position: absolute;
    top: 60%;
    left: 50%;
    height: auto;
    width: 35%;
    transform: translate(-50%, -50%);
    background-color: rgba(242, 242, 242, 0.808);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2,h3 {
    margin: 10px 0;
}

input[type="text"],
input[type="date"],
select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #4caf50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

#resultados{
	width: 80%; /* Ancho del contenedor */
	margin: 0 auto; /* Centrar horizontalmente */
	padding: 20px; /* Espaciado interno */
	background-color: #f9f9f9; /* Color de fondo */
	border: 1px solid #ccc; /* Borde */
	border-radius: 8px; /* Bordes redondeados */
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra */
	text-align: left; /* Alinear texto a la izquierda */
	}
#resultados div {
	margin-bottom: 10px; /* Espacio entre elementos */
}